extends common/layout

block content
  main.main
    .main__title
      img.main__title-image(src='./img/title-image.png' alt='Title image')
    .main__latest
      .wrapper
        img.main__latest-title(src='./img/latest-title.png' alt='Latest work')
        .main__latest-content
          .main__latest-description
            h2 BRRRILLIANT
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt similique quia ut assumenda quo rerum eum laudantium consequatur suscipit sequi nulla delectus quam officiis culpa soluta nesciunt, recusandae id voluptas?
            span.main__latest-trophy 
              span(class='fa fa-trophy') 
              span TROPHY
            span.main__latest-items 
              span(class='fa fa-list') 
              span LIST ITEMS
            span.main__latest-rating 
              span(class='fa fa-star') 
              span RATING
          .main__latest-mockup
            img.main__latest-mockup-image(src='./img/iphone-work.png' alt='Latest work image')
          .main__latest-technologies
            h2 TECHNOLOGIES USED
            table.main__latest-technologies-table
              tr
                each val in['html5', 'css3', 'android']
                  td
                    span(class= 'fa fa-'+val)
                    p= val
            a(href='#') VIEW GALLERY
        .main__latest-footer
          a(href='#' class='pagination-prev') Previous project
          span.pagination-center 01/<sup>04</sup>
          a(href='#' class='pagination-next') Next project
    .main__work
      .wrapper
        img.main__work-losers(src='./img/work-losers.png' alt="Work losers")
        img.main__work-winners(src='./img/work-winners.png' alt="Work winners")
        img.main__work-title(src="./img/work-title.png" alt="How we work")
        .main__work-items
          div(class='main__work-item main__work-plan')
            span(class='fa fa-lightbulb-o')
            h2 PLAN
            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat, expedita. Sint veniam, dicta amet dolorem, blanditiis quidem ipsam consequuntur eum at iste distinctio nobis facilis quo magnam assumenda illo officiis?
          div(class='main__work-item main__work-action')
            span(class='fa fa-cogs')
            h2 ACTION
            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat, expedita. Sint veniam, dicta amet dolorem, blanditiis quidem ipsam consequuntur eum at iste distinctio nobis facilis quo magnam assumenda illo officiis?
          div(class='main__work-item main__work-launch')
            span(class='fa fa-rocket')
            h2 LAUNCH
            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat, expedita. Sint veniam, dicta amet dolorem, blanditiis quidem ipsam consequuntur eum at iste distinctio nobis facilis quo magnam assumenda illo officiis?
        a(href="#").main__work-invite Work with us
    .main__blog
      .wrapper
        img.main__blog-title(src='./img/blog-title.png' alt="Our latest blog posts")
        .main__blog-item
          .main__blog-item-image
            img(src='./img/blog-item-1.png' alt="Article image" width="300" height="250")
          .main__blog-item-date
            span.day 23
            span.month august
          span.main__blog-item-author by Tommy Griffin
          span.main__blog-item-title Hollywood's latest trend comes underfire
          a.main__blog-item-anchor(href="#") 
            span(class='fa fa-chevron-circle-right') 
            span read article      
        input.main__blog-range(type='range'
          min='1'
          max='100'
          value='50'
          id='blog-range')
    .main__facts
      .wrapper
        img.facts-title(src='./img/facts-title.png' alt="Fun facts")
        h2.facts-favourite-title Our favourite clients:
        .facts-clients
            img(src='./img/facts-clients.png' class= 'facts-clients-image' alt='our clients')
        img.facts-content(src='./img/facts-content.png' alt ="Facts about company")      

